[2022-07-29 15:08] skunert opened #1482 "Improve error handling in RPC client"
This is a reminder issue to take another look at error handling once the RPC collator functionality is more mature.
Todo:
- If channels run full unexpectedly, kill the worker task
- If a relay chain RPC node dies, connect to a potential backup node

Umbrella Issue: #989
PR where this came up: #1462

[2022-07-29 16:13] bkchr commented on #1481
This is already solved in Substrate master: https://github.com/paritytech/substrate/commit/ddfd02ef2e71f3b80564ae8807aac5a46f6c7134

So for now you can just ignore this

[2022-07-29 16:13] #1481 closed

[2022-07-31 23:04] xlc commented on #1480
It is rocks DB. The total CPU is user CPU + system CPU for this parachain node container.

[2022-08-03 07:17] gregzaitsev commented on #989
Hi, Sebastian! Is there any way to contribute to this issue? Looks like collators are almost finished, is that right?

[2022-08-03 07:49] skunert commented on #989
Hey @gregzaitsev, I have a branch where this works, some refactorings and polish needs to be done still.
So currently there is not much to contribute here, the feature will land soon.

[2022-08-03 08:28] drahnr commented on #989
@skunert I assume you are aware, a few weeks ago a change landed that splits the network bridge into two, incoming and outgoing messages, so the initial diagram might need some adjustments :)

[2022-08-03 08:46] #1393 closed

[2022-08-04 11:01] #1467 closed

[2022-08-05 14:02] chevdor opened #1511 "Release Checklist - Client v0.9.270"
# Release Checklist - Client

### Client Release

- [ ] build a new `polkadot-parachain` binary and publish it to S3
- [ ] new `polkadot-parachain` version has [run on the network](../../docs/release.md#burnin)
    without issue for at least 12h
- [ ] a draft release has been created in the [Github Releases page](https://github.com/paritytech/cumulus/releases) with the relevant release-notes
- [ ]

[2022-08-05 14:02] chevdor opened #1512 "Release Checklist - Parachains v9270"
# Release Checklist - Runtimes

See also #1511

## Runtimes Release

### Codebase
These checks should be performed on the codebase.

- [x] the [`spec_version`](../../docs/release.md#spec-version) has been incremented since the
    last release for any native runtimes from any existing use on public (non-private/test) networks @bkontur
- [x] previously [completed migrations](../../docs/release.md#o

[2022-08-05 15:06] #1345 closed

[2022-08-08 06:23] koute commented on #1480
So I'm almost certain that whatever was ingesting the logs from your container most likely stopped doing that (or simply deadlocked). I remember seeing this happen in the past at least once, however I don't remember what the root cause of it was.

Nevertheless, this isn't really a bug on our side, and as far as I'm concerned we're working correctly. We don't want to accidentally drop any potential

[2022-08-08 08:35] #1480 closed

[2022-08-08 14:45] EgorPopelyaev commented on #1512
Metadata comparison:
Date: Mon Aug  8 12:41:53 UTC 2022
Reference: wss://statemine-rpc.polkadot.io
Target version: $BIN 0.9.270-38920db7b81
Chain: statemine-local
----------------------------------------------------------------------
              [Spec] name: statemine
                     spec_version: 9230 -> 9270
                     transaction_version: 7
          [Metadata] version: 14

[2022-08-08 14:45] EgorPopelyaev commented on #1512
Metadata comparison:
Date: Mon Aug  8 12:42:43 UTC 2022
Reference: wss://statemint-rpc.polkadot.io
Target version: polkadot-parachain 0.9.270-38920db7b81
Chain: statemint-local
----------------------------------------------------------------------
              [Spec] name: statemint
                     spec_version: 9230 -> 9270
                     transaction_version: 7
          [Metadata] ve

[2022-08-08 14:46] EgorPopelyaev commented on #1512
Metadata comparison:
Date: Mon Aug  8 11:54:09 UTC 2022
Reference: wss://westmint-rpc.polkadot.io
Target version: polkadot-parachain 0.9.270-38920db7b81
Chain: westmint-local
----------------------------------------------------------------------
              [Spec] name: westmint
                     spec_version: 9230 -> 9270
                     transaction_version: 7
          [Metadata] versi

[2022-08-08 14:46] EgorPopelyaev commented on #1512
Metadata comparison:
Date: Mon Aug  8 14:41:33 UTC 2022
Reference: wss://rococo-statemint-rpc.polkadot.io
Target version: polkadot-parachain 0.9.270-38920db7b81
Chain: statemint-local
----------------------------------------------------------------------
              [Spec] name: statemine -> statemint
                     spec_version: 900 -> 9270
                     transaction_version: 6 -> 7

[2022-08-09 07:53] alvicsam opened #1520 "Tests in the `master` branch are broken"
https://gitlab.parity.io/parity/mirrors/cumulus/-/jobs/1728689

test name: `polkadot-parachain::polkadot_argument_parsing polkadot_argument_parsing`

<details><summary>Logs</summary>

[code]

</details>

[2022-08-09 08:01] chevdor commented on #1512
The last run was a mix of rococo and statemint:
[code]

[2022-08-09 09:11] bkontur commented on #1512
### Run Extrinsic ordering jobs:

**TODO: waiting for new RC tag**  @EgorPopelyaev

**Statemine run:**
wss://statemine-rpc.polkadot.io
https://releases.parity.io/cumulus/**new-tag**/polkadot-parachain
statemine-local

**Statemint run:**
wss://statemint-rpc.polkadot.io
https://releases.parity.io/cumulus/**new-tag**/polkadot-parachain
statemint-local

**Westmint run:**
wss://westmint-rpc.polkadot.io

[2022-08-09 10:22] bkontur commented on #1520
@alvicsam
yes, I saw that also in my PR, I will investigate later

[2022-08-09 10:46] joepetrowski commented on #1247
Closing on https://github.com/paritytech/cumulus/pull/1278

[2022-08-09 10:46] #1247 closed

[2022-08-09 10:51] #595 closed

[2022-08-09 11:20] bkchr commented on #1520
This is just some flaky test, because we have a timeout that is too short.

We need to copy the following [function](https://github.com/paritytech/substrate/blob/8e600ee0515122667cd091d632104708d343ca34/bin/node/cli/tests/common.rs#L87) and start using it in these tests here.

[2022-08-09 12:44] bkontur commented on #1512
I am checking "Extrinsic ordering" - see comment above: https://github.com/paritytech/cumulus/issues/1512#issuecomment-1209120936

1. I ran those 3 pipelines, and showed just few new storages + new calls, so I guess, no breaking changes, so no need to bump transaction_version, according to: https://github.com/paritytech/cumulus/pull/1516/files#diff-87479ac9ea16cec5ceafce00b3b049d7d5920cb663afae429

[2022-08-09 20:32] NukeManDan commented on #1003
https://github.com/substrate-developer-hub/substrate-node-template/pull/366 there is now ci tooling for the nide template and parachian template to auto gen this, perhaps Mak could hepl get it working here too?

[2022-08-10 10:33] bkontur opened #1531 "Check ProxyFilter for `uniques::buy_item` (statemint/statemine/westmint)"
we set up `set_price` like this for **statemint/statemine/westmint**
https://github.com/paritytech/cumulus/pull/1530/commits/bd016bcba0bc77d17b78ff4a1631b5511e1708c3

please review, if or how should we set it up for `buy_item`

[2022-08-10 10:45] bkontur commented on #1512
Proxy filters checked + following issue created https://github.com/paritytech/cumulus/issues/1531

[2022-08-10 15:44] EgorPopelyaev commented on #1512
Extrinsic ordering checks for the rc8 ⬇️

[2022-08-10 15:44] EgorPopelyaev commented on #1512
Metadata comparison:
Date: Wed Aug 10 15:37:35 UTC 2022
Reference: wss://statemine-rpc.polkadot.io
Target version: $BIN 0.9.270-ea404bfa9f2
Chain: statemine-local
----------------------------------------------------------------------
              [Spec] name: statemine
                     spec_version: 9230 -> 9270
                     transaction_version: 7
          [Metadata] version: 14

[2022-08-10 15:44] EgorPopelyaev commented on #1512
Metadata comparison:
Date: Wed Aug 10 15:38:09 UTC 2022
Reference: wss://statemint-rpc.polkadot.io
Target version: $BIN 0.9.270-ea404bfa9f2
Chain: statemint-local
----------------------------------------------------------------------
              [Spec] name: statemint
                     spec_version: 9230 -> 9270
                     transaction_version: 7
          [Metadata] version: 14

[2022-08-10 15:44] EgorPopelyaev commented on #1512
Metadata comparison:
Date: Wed Aug 10 15:38:41 UTC 2022
Reference: wss://westmint-rpc.polkadot.io
Target version: $BIN 0.9.270-ea404bfa9f2
Chain: westmint-local
----------------------------------------------------------------------
              [Spec] name: westmint
                     spec_version: 9230 -> 9270
                     transaction_version: 7
          [Metadata] version: 14

[2022-08-10 17:27] #1520 closed

[2022-08-11 13:38] bkontur commented on #1512
Westmint upgrade done: https://github.com/paritytech/devops/issues/1878

[2022-08-15 14:42] EgorPopelyaev commented on #1512
Closing as release is done https://github.com/paritytech/cumulus/releases/tag/parachains-v9270

[2022-08-15 14:42] #1512 closed

[2022-08-16 11:44] EgorPopelyaev opened #1552 "Parachain runtimes info shown twice in the release draft"
Current behavior is: whenever a new release draft for parachain runtimes is generated by the git hub action `Release - Create draft`, the **Runtimes** section with the info about them is generated twice what can be seen [here](https://github.com/paritytech/cumulus/releases/tag/untagged-1adbefe87f473ee0d42c).

In case the link won-t work here is a screen shot how it looks now:
<img width="733" alt=

[2022-08-16 11:47] EgorPopelyaev commented on #1552
related pr form @gilescope #1547

[2022-08-16 14:52] gilescope commented on #1291
There's risk in moving statemint back to SR. Not sure at the moment that the risks outweigh the rewards.

[2022-08-17 07:38] mmyyrroonn commented on #1393
@crystalin Hi, I met this issue on our rococo testnet. Any solution for this issue right now? Do I need to upgrade to the v0.9.27 and purge the siblings?

[2022-08-17 07:47] bkchr commented on #1393
Easiest is to upgrade to get this fix. Or to delete your db.

[2022-08-17 08:01] mmyyrroonn commented on #1393
Thank you! let me try. 😄

[2022-08-18 18:59] #607 closed

[2022-08-24 10:37] ruseinov opened #1568 "Implement XCM benchmarks for penpal."
Original quote by @gilescope:
[code]

Continuation of:
https://github.com/paritytech/cumulus/issues/1056
https://github.com/paritytech/cumulus/pull/1454

[2022-08-24 10:42] gilescope commented on #1568
In testing we do xcm messages from statemine to penpal to test horizontal messages and as such it would be best if all those weights are benchmarked.

[2022-08-24 10:42] ruseinov opened #1569 "Revisit pallet-xcm-benchmarks after a while."
After those benchmarks have been implemented for several parachains we should see whether we need to maintain a duplicate of this polkadot pallet or just backport all of the changes back to polkadot.

In case we decide to maintain a separate code base further - rename the pallet to avoid clashing names as polkadot's bench pallet is an indirect dependency which pops up in Cargo.lock.

Renaming opti

[2022-08-24 12:34] ruseinov opened #1570 "Polish XCM benchmarks."
cc @ggwpez
https://github.com/paritytech/cumulus/pull/1454#discussion_r953664154
https://github.com/paritytech/cumulus/pull/1454#discussion_r953665359
https://github.com/paritytech/cumulus/pull/1454#discussion_r953656700
https://github.com/paritytech/cumulus/pull/1454#discussion_r953658306

[2022-08-25 08:15] AurevoirXavier opened #1571 "Stop Producing Block"
See https://github.com/darwinia-network/darwinia-parachain/issues/128.

I'm not sure if this is a bug. But this actually happened on our Kusama parachain.

[2022-08-25 08:19] bkchr commented on #1571
If you have more than one node on your Parachain this can not happen: https://github.com/paritytech/cumulus/pull/927

Pov recovery should restore the block and distribute it in the network.

[2022-08-25 08:28] AurevoirXavier commented on #1571
But we have 3 collator nodes. 1 offline, 2 online.

[2022-08-25 13:17] #1449 closed

[2022-08-25 21:53] bkchr commented on #1571
Same applies for collators. Collators are also running pov recovery. So this happened to your chain and it is now bricked? Or what?

Could you maybe give some more explanation on what happened.

[2022-08-26 01:14] AurevoirXavier commented on #1571
It bricked.

I have to call the offline validator to reboot his node. After that, the chain recovered.

I don't have more information now.

If I reencounter the problem, I'll reopen this issue.

[2022-08-26 01:14] #1571 closed

[2022-08-26 05:17] bkchr commented on #1571
How many nodes did you had running as this collator failed? How many collators? And on what version are these nodes? Did you had any error logs from pov recovery?

[2022-08-26 05:33] AurevoirXavier commented on #1571
3 nodes, all of them are collators.
Version is polkadot-v0.9.17.

Sorry, I don't have the old logs.

---

Now we have upgraded to polkadot-v0.9.25.
Let's wait and see.
This might be resolved.

[2022-08-30 00:59] cmichi commented on #1004
No longer relevant.

[2022-08-30 00:59] #1004 closed

[2022-08-31 13:08] Niederb opened #1583 "Specify software license per crate"
It would be great if each crate in this repository would specify its software license. Then we could use tools such as `cargo-license` to track the licenses of our dependencies.

At the moment the license situation is not clear to me:
- The `LICENSE` file in the project root suggests a `GPL-3.0 license`
- A handful of crates specify `Unlicense` or `Apache-2.0` in the `.toml` file
- Quite a few sou

[2022-08-31 14:25] ruseinov commented on #1570
Closing this as benches are back in polkadot.

[2022-08-31 14:25] #1570 closed

[2022-09-01 09:39] #1056 closed

[2022-09-09 13:40] muharem opened #1611 "Release Checklist for Runtime v9290"
# Release Checklist - Runtimes

See also #1637

## Runtimes Release

### Codebase
These checks should be performed on the codebase.

- [x] the [`spec_version`](https://github.com/paritytech/cumulus/blob/master/docs/release.md#spec-version) has been incremented since the last release for any native runtimes from any existing use on public (non-private/test) networks @gilescope
- [x] previously [com

[2022-09-12 08:36] muharem commented on #1611
Transaction version check.

Thank you @chevdor for diffs below.

**statemine**

[code]

**Statemint**

[code]

**Westmint**

[code]

[code]

[code]

[2022-09-13 11:03] bkchr opened #1619 "Parachain Warp Sync"
Currently we don't support warp sync in parachains. We will need to write some Warp sync implementation for Parachains. The idea is that we first warp sync the relay chain and then get the latest header of the Parachain. After we got this header we can use `StateSync` on the Parachain side to get the state.

Depending on how the relay chain node is integrated, we can do the relay chain warp sync d

[2022-09-13 12:14] TorstenStueber opened #1620 "Panic when running archive node"
When trying to run an archive node and sync it with our collator nodes, they will always panic with the following error message. For that reason we are not able to successfully run our archive nodes.

[code]

I reported this bug here in accordance with the last message of the log output.

[2022-09-13 13:00] bkchr commented on #1620
`cargo update -p yamux` should fix this for you.

[2022-09-13 13:00] #1620 closed

[2022-09-14 00:00] crystalin opened #1624 "Too many siblings when block are not included"
When relaychain **validators do not include the block** (because of PoV taking time to download or because of the validator being too slow), the parachain collators will keep producing sibling blocks, and will ALL get stuck because they have **too many siblings**.

If a block is finally included, all the other collators won't import it because they will have "too many siblings", getting them stall

[2022-09-14 04:43] bkchr commented on #1624
Duplicate of https://github.com/paritytech/cumulus/issues/432

And there is also a pr to fix this.

[2022-09-14 04:43] #1624 closed

[2022-09-14 06:57] 5tan-enj opened #1625 "Rococo : Parachain sync stuck on finalized block"
We have an active parachain collator producing blocks on Rococo, but when trying to setup another collator we notice the sync is stuck on finalized block 961 and the sync rate is 0.0bps.

Startup Command :
[code]

Collator logs :
[code]

[2022-09-14 07:39] bkchr commented on #1625
Which polkadot branch are you using?

[2022-09-14 07:50] 5tan-enj commented on #1625
v0.9.26

[2022-09-14 07:59] bkchr commented on #1625
There was some fixes around this code. Could you either try 0.9.27. Or what happens when you restart the node?

[2022-09-14 08:39] 5tan-enj commented on #1625
Restarted multiple times, no change, will update here after trying 0.9.27

[2022-09-19 06:50] rakanalh commented on #1625
We are still facing this issue where some of our nodes are VERY slow to sync with the remaining nodes:
[code]

And the finalized block is also stuck at 0.

And another node is managing to finalize but severly falling behind:
[code]

[2022-09-19 08:13] EgorPopelyaev opened #1637 "Release Checklist - Client v0.9.290"
# Release Checklist - Client

See also #1611

### Client Release

- [x] build a new `polkadot-parachain` binary and publish it to S3
- [x] new `polkadot-parachain` version has [run on the network](https://github.com/paritytech/cumulus/blob/master/docs/release.md#burn-in)
    without issue for at least 12h
- [x] a draft release has been created in the [Github Releases page](https://github.com/parit

[2022-09-19 08:14] EgorPopelyaev opened #1638 "Release Checklist - Parachains v9290"
# Release Checklist - Runtimes

See also #1637

## Runtimes Release

### Codebase
These checks should be performed on the codebase.

- [x] the [`spec_version`](https://github.com/paritytech/cumulus/blob/master/docs/release.md#spec-version) has been incremented since the
    last release for any native runtimes from any existing use on public (non-private/test) networks
- [ ] previously [completed

[2022-09-19 11:41] #1638 closed

[2022-09-19 11:41] EgorPopelyaev commented on #1638
duplicate

[2022-09-20 12:19] EgorPopelyaev commented on #1611
Extrinsic ordering for rc1

[2022-09-20 12:19] EgorPopelyaev commented on #1611
Metadata comparison:
Date: Tue Sep 20 12:15:02 UTC 2022
Ref. binary: https://releases.parity.io/cumulus/v0.9.270/polkadot-parachain
Test binary: https://releases.parity.io/cumulus/v0.9.290-rc1/polkadot-parachain
Ref. version: polkadot-parachain-ref 0.9.270-ea404bfa9f2
Test version: polkadot-parachain 0.9.290-35dd14f0fef
Chain: westmint-local
Relay: polkadot-local
----------------------------------

[2022-09-20 12:19] EgorPopelyaev commented on #1611
Metadata comparison:
Date: Tue Sep 20 12:15:02 UTC 2022
Ref. binary: https://releases.parity.io/cumulus/v0.9.270/polkadot-parachain
Test binary: https://releases.parity.io/cumulus/v0.9.290-rc1/polkadot-parachain
Ref. version: polkadot-parachain-ref 0.9.270-ea404bfa9f2
Test version: polkadot-parachain 0.9.290-35dd14f0fef
Chain: statemint-local
Relay: polkadot-local
---------------------------------

[2022-09-20 12:20] EgorPopelyaev commented on #1611
Metadata comparison:
Date: Tue Sep 20 12:15:06 UTC 2022
Ref. binary: https://releases.parity.io/cumulus/v0.9.270/polkadot-parachain
Test binary: https://releases.parity.io/cumulus/v0.9.290-rc1/polkadot-parachain
Ref. version: polkadot-parachain-ref 0.9.270-ea404bfa9f2
Test version: polkadot-parachain 0.9.290-35dd14f0fef
Chain: statemine-local
Relay: polkadot-local
---------------------------------

[2022-09-20 12:20] EgorPopelyaev commented on #1611
Metadata comparison:
Date: Tue Sep 20 12:15:05 UTC 2022
Ref. binary: https://releases.parity.io/cumulus/v0.9.270/polkadot-parachain
Test binary: https://releases.parity.io/cumulus/v0.9.290-rc1/polkadot-parachain
Ref. version: polkadot-parachain-ref 0.9.270-ea404bfa9f2
Test version: polkadot-parachain 0.9.290-35dd14f0fef
Chain: contracts-rococo-local
Relay: polkadot-local
--------------------------

[2022-09-20 17:18] NachoPal commented on #1625
One of the errors I see you are getting is:
[code]
Also, I checked your Parachain and everything points that you should have 4 collators. However, it is shown that there are a total of 5 connected peers.

Please check:
- your collators have the expected network peersIDs aligned with your chain_spec
- you don't have any old dangling collator instance interfering with the 4 that should be running

N

[2022-09-20 20:21] bkchr commented on #1625
@rakanalh is this reproducible? If yes, tell me how. Aka give me your repo and which chainspec I should use. If your code isn't open, we can not help you.

[2022-09-21 12:45] muharem opened #1657 "Parachains runtime release process"
The document is Work In Process and can be altered.

## Problem
Parachains runtime release takes up to 2 weeks to prepare and publish.

## Context
Parachains runtime release is semi-automated and takes up to 2 weeks to prepare and publish. Most of this time are manual checks,  fixes, backports, weight calculation reruns. The target release cadence is a month which brings a manpower intensive relea

[2022-09-21 14:50] muharem opened #1659 "Runtime storage migrations checks from the release checklist"
## Problem
Manual storage migration checks from [the release checklist](https://github.com/paritytech/cumulus/blob/82ff35b815a00cec79dd5f9f7583f8191aa806e0/.github/ISSUE_TEMPLATE/release-runtime.md?plain=1#L16) slow down release process and introduce possibility of a human error.

## Context
In order to improve current release process ([read more](https://github.com/paritytech/cumulus/issues/1657)

[2022-09-22 07:20] ruseinov opened #1668 "[Fix] Weighing algorithm for deposit_assets"
cc @KiChjang @joepetrowski @gilescope
Currently it's hardcoded to a pre-benchmark value of 1 billion. We should come up with a solution that uses `max_assets` argument.
Currently we are benchmarking this instruction based on one asset, so it could potentially just be `max_assets * instruction_weight`.

Some previous comments from @joepetrowski:
[code]

This potentially leads us to revisit the logi

[2022-09-22 07:33] ruseinov opened #1669 "[Fix] Hardcoded weight for initiate_teleport"
Once the XCM v3 is out we need to replace that by proper logic.

Here's one example [occurrence](https://github.com/paritytech/cumulus/blob/3f11a7a6cfe357955050a6e3b8d4201cd1fff2e5/parachains/runtimes/assets/statemint/src/weights/xcm/mod.rs#L149).

Most likely it will mean that we will fall back to `MultiAssetFilter.weigh_multi_assets` logic and would have to modify it to match other invariants of

[2022-09-22 09:12] gilescope commented on #1659
"idempotent Migrations" - I think they do tend to be written this way. My understanding is there's no harm I don't think in letting them build up and clearing them down every so often.

[2022-09-22 09:14] gilescope commented on #1657
The transaction_version check is semi-automated and a newer version of that check is being worked on by @chevdor (this is the metadata differ that only needs the runtimes as inputs).

[2022-09-22 09:56] gilescope commented on #1637
@BulatSaif

[2022-09-22 10:37] gilescope commented on #1611
Weights have been added to both branches for statemine/t.

[2022-09-22 12:22] gilescope commented on #1611
For the integration tests there's still one little niggle left before getting a clean sweep.

[2022-09-22 14:42] gilescope commented on #1611
Ok last niggle was a little bit of money earned by alice being a collator. Using anyone but alice as a collator and we get a clean sheet of tests.

[2022-09-26 08:26] chevdor commented on #1657
Yes, I am actually working on an option that may even allow handling the `transaction_version` topic in a fully automated way.

[2022-09-26 08:37] gilescope commented on #1637
new polkadot-parachain version has [run on the network](https://github.com/paritytech/cumulus/blob/master/docs/release.md#burn-in)
without issue for at least 12h - We had a panic but it seemed to be related to a malformed rpc call in the runtime so I think that's not something to worry about.

[2022-09-26 10:36] bkchr commented on #533
@ggwpez could you look into this please?

[2022-09-26 12:09] ggwpez commented on #533
If `set_validation_data` is called from inherents, then it it part of the `BlockExecutionWeight`. But benchmarks should be added nonetheless. I will take a look.

[2022-09-26 12:54] gilescope commented on #1406
The polkadot crate should be renamed in some way I would suggest (or alternatively we can have our bin name different to the crate name - that would also fix it).

[2022-09-26 12:57] gilescope commented on #99
cumulus-branch is discarded I suspect as I've not come across it. I think we can close this issue now.

[2022-09-26 13:09] bkontur commented on #1406
at least, `polkadot-parachain` dependency in `cumulus/polkadot-parachain/Cargo.toml` is not needed,
and is removed in this PR:
https://github.com/paritytech/cumulus/pull/1680/files#diff-5dcee2b3279312fb4434bec01df2816aeae5d1e593e2118b74706e1a2c905c83L72

and I am just wondering, if hack like with `codec` deps, should work here also:
`codec = { package = "parity-scale-codec", version = "3.0.0", def

[2022-09-26 19:10] muharem opened #1682 "XCM configs review within release process"
## Problem
XCM configs require a high confidence level for every release. The possible issues and the review process is not well defined.

## Context
XCM(P) due its power and api flexibility has a rich and complex configuration of the runtime. In addition the functionality of different use cases like teleport depends on XCM configuration and calls' weights of every chain involved in communication.

[2022-09-27 03:47] crystalin opened #1684 "--sync fast from genesis"
From substrate 0.9.26:

Using `--sync fast` (or fast-unsafe) from genesis creates this error:
[code]
And the best stays at #1

To test:
[code]

~~However if I use `--sync full` for some blocks and them switch to `--sync fast` it works~~
(the node automatically switch to full if you initially started with full)

[2022-09-27 08:24] bkchr commented on #1684
You will probably want to have this: https://github.com/paritytech/cumulus/issues/1619

[2022-09-27 09:35] muharem opened #1686 "Automation of transaction_version bump"
## Problem
transaction_version bump during the release process is semi-automated, requires a manual launch of CI job and review of the report from an engineer, who is supposed to create a PR to bump a version if required.

## Context
The transaction_version bump is part of the release checklist and must be performed to inform clients if the extrinsics, the extrinsic ordering, naming, the API to th

[2022-09-27 10:05] muharem opened #1687 "Release branch creation"
## Problem
The parachains' release branch creation is manual, requires a release engineer to follow the release page of polkadot repo.
The team (CGP) do not get notified automatically when the branch is created.

## Context
The parachains' release is built and published for every second published release of the relay chains (runtimes from polkadot repo). It requires a release engineer to follow th

[2022-09-27 13:54] wetalice opened #1692 "babe replace aura"
I want to make the block generation more random, so I want to replace the aura consensus with babe. can you provide template?

[2022-09-27 14:09] chevdor commented on #1637
@BulatSaif That's a valid suggestion, I would suggest opening a new issue for it.

[2022-09-27 14:13] chevdor commented on #1686
This cannot be done currently but I am working on a solution.

Once I have the missing piece of code, I think we will just bump as required and make a PR automatically during the release process.

If the CI fails, you can subscribe to the notification from GH direclty.

[2022-09-27 14:20] bkchr commented on #1692
BABE is not supported by Parachains. We will also not bring support for BABE. When Sassafras is ready, this will be supported by Parachains.

If you need some randomness in the collator selection, take a look at: https://github.com/PureStake/nimbus

[2022-09-27 14:20] #1692 closed

[2022-09-28 00:38] crystalin commented on #1423
I agree it would be a nice feature. Also through CLI is enough for us, something like:
`./parachain pov extract <hash or number>`

[2022-09-28 10:19] jiguantong opened #1700 "Invalid incoming XCMP message data when XCM contains multiple assets and one of them is the relay chain asset"
version: polkadot-v0.9.26

### Steps to reproduce:
1. Rockmine submit `polkadotXcm.reserveTransferAsset` and transfer two assets, one of them is {parents: 1, Here}
[code]
encoded call: `0x1f02010101009120010001010004578647ec6e8e1ca8b91d5b6c4df991e73bcc515b2aedcef31e64db8c69e64d01080000020432052400070010a5d4e800010000070010a5d4e801000000`
 2. The dest chain can't decode the XCM and no event be depo

[2022-09-28 13:12] bkchr commented on #1700
CC @KiChjang

[2022-09-28 14:34] KiChjang commented on #1700
@jiguantong What happens if you reorder the assets, so that the `../Here` asset is first in the list?

[2022-09-28 14:58] jiguantong commented on #1700
encoded call data: `0x1f02010101009120010001010004578647ec6e8e1ca8b91d5b6c4df991e73bcc515b2aedcef31e64db8c69e64d0108000100000700e40b54020000020432052400070010a5d4e801000000`

**I can't send it after reordering.**
### The console of chrome shows this error:
[code]
### My dev node log is:
[code]

[2022-09-28 15:08] KiChjang commented on #1700
@jiguantong You forgot to change the `fee_asset_item` parameter to 0, Try again with that changed?

[2022-09-28 15:11] jiguantong commented on #1700
`0x1f02010101009120010001010004578647ec6e8e1ca8b91d5b6c4df991e73bcc515b2aedcef31e64db8c69e64d0108000100000700e40b54020000020432052400070010a5d4e800000000`
I tried it and the error & log are the same as `fee_asset_item: 1`

[2022-09-28 15:19] KiChjang commented on #1700
Could we also ensure that it's the same amount of fungibles? Your issue description has 1 trillion units for both assets, but in your test cases, the `../Here` asset is only 10 billion.

[2022-09-28 15:39] jiguantong commented on #1700
para(2084), polkadotXcm.safeXcmVersion: 2

[2022-09-28 17:05] jiguantong commented on #1700
Well, it seems that Rockmine stopped producing blocks due to the above test

[2022-09-29 00:35] jiguantong commented on #1700
After testing it on other chains, I think this is another bug if we reorder the assets, we can track it here: https://github.com/paritytech/polkadot/issues/6074.

[2022-09-30 07:25] EgorPopelyaev commented on #1637
Release is done https://github.com/paritytech/cumulus/releases/tag/v0.9.290

[2022-09-30 07:25] #1637 closed

[2022-09-30 07:26] EgorPopelyaev commented on #1611
Release is done https://github.com/paritytech/cumulus/releases/tag/parachains-v9290

[2022-09-30 07:26] #1611 closed

[2022-10-03 13:19] JuaniRios commented on #1700
@KiChjang Hello, I'm the person who created the StackExchange post.
I'm using the [xcm emulator](https://github.com/shaunxw/xcm-simulator/tree/master/xcm-emulator) and running the code in debug to inspect the variables.
I tried both orders of assets, resulting in the same XCMP Panic outcome.

I changed the source code of multiasset.rs to inspect intermediate results, and so after running:
[code]

[2022-10-04 10:08] muharem commented on #1686
@chevdor I would prefer the messages to the matrix, but we should probably bring this for the discussion.

I would love to have one channel where I can see all the progress of the current release.
Success runs of every step as well, with the links and relative information.

[2022-10-04 10:22] muharem commented on #1682
After writing down the thoughts, it feels to me if scoping all possible success and fail cases is a doable task, automating this step from the release process via integration tests is a good idea.

All possible cases can be written down in xcm config file docs and have some flag which tells if all cases covered via integration tests.

[2022-10-04 10:22] xlc commented on #1686
Every parachain needs this. Please make it reusable 🙏

[2022-10-04 10:47] chevdor commented on #1686
@xlc that's definitely the plan, keep an eye on the new `subwasm` versions.

[2022-10-04 10:53] NachoPal commented on #1682
I would say a README is a better place than the `xcm_config.rs` file

It is doable and should be doable. If we are not able to identify all cases, the we have a problem. On the other hand, it is true that is difficult to identify/overlook what SHOULD NOT happen. Actually, the list can be "endless", so we'll have to identify the most important cases.

If we are gonna trust the integration tests, ev

[2022-10-04 10:57] NachoPal commented on #1682
In addition, I think that a `xcm_config.rs` diff between releases for both Polkadot/Statemint runtimes is also valuable.

It is still a manual process, but can quickly spotlight some obvious expected changes that might have an impact on integration tests results

[2022-10-04 11:01] muharem commented on #1682
@NachoPal do you think that for reviewing it a person should be proficient with XCM configs and be familiar with all involved chains (like Statemint) to identify if some case is valid?

[2022-10-04 11:08] NachoPal commented on #1659
Also, I think you forgot to mention that we have to check if new runtimes should be applied to the release. For that we have to check Polkadot/Kusama release runtimes.

[2022-10-04 11:14] NachoPal commented on #1682
Not really, I think that person should understand what is expected functionality/behaviour of Statemint and its interaction with Polkadot and other Parachains. To know how that behaviour is achieved (XCM config) is not necessary. Obviously, some XCM knowledge is going to be positive, mainly to understand the Events outcomes.

[2022-10-04 11:17] NachoPal commented on #1682
I am talking here about reviewing the integration tests. About reviewing the `xcm_config.rs` diffs, yes, that person should proficient with XCM.

[2022-10-04 16:22] chevdor commented on #1687
While the goal is to automate as much as possible, some of the steps are still manual today for the following reasons:
- scripts do not / did not exist. We are in the process of building those in [here](https://github.com/paritytech/release-engineering/blob/master/scripts/release-lib.sh)
- any solution we use need to allow for emergency releases
- some of the steps are done on local machines (luck

[2022-10-04 16:31] chevdor commented on #1686
See https://github.com/paritytech/cumulus/pull/1727

[2022-10-05 09:49] gilescope commented on #1687
Ideally the `sudo` feature should be an option for polkadot so that we don't need to create `it/release-v0.9.X-sudo` branches that we have to keep up to date with the release branch. If we can't have that, I'd like the `-sudo` branch to be automatically created for polkadot and kept up to date with the release branch of polkadot, and when there's new commits I'd like a new sudo build of polkadot t

[2022-10-05 10:50] gilescope commented on #1687
Given that there can only be one canonical collator node, I would like ideally that the initial branch rather than being called `draft-polkadot-v0.9.X`, was instead called `release-v0.9.X` and that was used for the node. Set the version and substrate / polkadot hash and then automatically branch off that to create the `release-parachain-v9X00` branch for the runtimes. (We tag releases on those bra

[2022-10-05 10:59] chevdor opened #1732 "Rustfmt checks are no longer running"
The fmt check was removed from GH a while back via https://github.com/paritytech/cumulus/pull/1562/files and added to Gitlab.

@alvicsam it looks like there may be an issue in the Gitlab CI: it does not pickup fmt issues.

[2022-10-05 12:39] #1732 closed

[2022-10-06 08:20] xlc opened #1737 "Parachain collator stuck on rococo and unable to recover"
I have a 1 collator testnet connecting to Rococo. It is unable to reliably produce new blocks. I have to run the `revert` command on the collator then it is able to produce blocks and have it included on relaychain. However after 30-60 mins, the collator will get stuck again and require another `revert` to restore it.

Here are some logs

[code]

Another case

[code]

I have noticed on both case t

[2022-10-06 08:42] KiChjang commented on #1700
So earlier, I asked what the safe XCM version is on the sender and the receiver, and they were both 2. However, when I download your code and tried to print out the actual bytes that were sent to the receiver, I get the following:

[code]

And this decodes to a `VersionedXcm`. Notice the first byte there? It's `0`, and that tells me that the XCM is in version 0, so somehow the sender believes that

[2022-10-07 15:02] skunert opened #1744 "Fix pov-recovery zombienet test"
The test as it is currently on master is missing `--disable-block-announcements` on the charlie node. However, adding this flag makes the test flaky.

Todos:
- Disable block announcements on charlie
- Investigate issues with pov-recovery, why is it sometimes failing?

[2022-10-10 07:06] #989 closed

[2022-10-10 08:52] skunert commented on #545
Experimental support for relay chain collators is now [merged](https://github.com/paritytech/cumulus/pull/1585). You can try this by passing the `--relay-chain-rpc-url` argument together with `--collator`. Next phase is additional testing to discover potential problems.

Road forward:
- Look into having a set of relay chain nodes as suggested

[2022-10-10 12:48] JuaniRios commented on #1700
I added the default pallet_xcm genesis config to the receiving chain (sending already had it) and now it's using ```VersionedXcm::V2``` since the first byte is 2:

<img width="2065" alt="versioned_xcm_bytes" src="https://user-images.githubusercontent.com/54085674/194869418-4365d512-7907-4d83-893f-fdc845508653.png">

I am still getting the decode error, and it's specifically coming from here:
<img

[2022-10-10 14:15] bkchr opened #1750 "Rework setting `HostConfiguration`"
The `HostConfiguration` or better `AbridgedHostConfiguration` is currently always included in the Parachain inherent. However, this isn't really needed. On the relay chain the `HostConfiguration` can only be changed once per session and in between the changes are "buffered".

We could change to include the `HostConfiguration` in the inherent only when it changed. The best would be that we set the

[2022-10-10 15:59] pepyakin commented on #1750
Yeah, that was actually intended for post-MVP work in exactly this way: to load it once a session.

However, IIRC, since then, there has been a case in which loading the configuration each time actually saved the day, but I cannot recall what it was now. Not entirely sure if it wasn't some weird one-off thing. If we wanted to be a bit defensive about this though, the relay state snapshot could pro

[2022-10-10 18:00] bkchr commented on #1750
Hmm yeah, now after thinking about this again. If we don't check the configuration is correct, the collator could censor upward messages by setting the max allowed messages to some smaller number.

[2022-10-11 00:54] brunopgalvao opened #1753 "error: There are multiple `polkadot-parachain` packages in your project, and the specification `polkadot-parachain` is ambiguous."
When following the instructions here:
- https://github.com/paritytech/cumulus#build--launch-a-node

Running the following command:
[code]
Results in:
[code]
This was also noted in a stack exchange post:
- https://substrate.stackexchange.com/questions/5278/issue-building-polkadot-parachain-binary

[2022-10-11 01:18] xlc commented on #1737
Seems like this isn't related to reorg, but validator somehow reject our collator

[code]

[2022-10-11 05:01] KiChjang commented on #1700
@JuaniRios Next step is to take the bytes from the `data` binding, and then try to decode it using `VersionedXcm::decode(data)`. What kind of error does it return?

[2022-10-11 07:34] bkchr commented on #1737
Which log line makes you think this?

[2022-10-11 07:38] xlc commented on #1737
[code]

[2022-10-11 08:12] JuaniRios commented on #1700
I wrote
[code]
and debug_decoded ends up being Err with desc = "Could not decode `VersionedXcm::V2.0`"

[2022-10-11 14:19] bkchr commented on #1753
https://github.com/paritytech/cumulus/pull/1716 look here

[2022-10-12 10:25] zqhxuyuan commented on #1700
I can reproduce this with this testcase: https://github.com/zqhxuyuan/Acala/blob/statemine_two_asset/runtime/integration-tests/src/relaychain/statemine.rs#L260 maybe this will helpful to debug.
[code]

[2022-10-13 16:10] muharem opened #1761 "Runtime Engineers support for Parachain Runtimes release"
## Problem
Parachain Runtimes release led by @paritytech/release-engineering team requires a runtime engineers support.
Some of [the mandatory checks](https://github.com/paritytech/cumulus/blob/master/.github/ISSUE_TEMPLATE/release-runtime.md) within the release process should be performed by a runtime engineer. When runtime builds or tests are failing a runtime engineer will be involved.

## Solu

[2022-10-14 01:02] shunsukew opened #1765 "ExportGenesisState subcommand `--parachain-id` optional flag"
This PR is for feature suggestion.
`--parachain-id` optional flag for ExportGenesisState subcommand.

Right now, Parachain ID for all chains are static, built into the binary file and is not configurable after compiling.
In cumulus node example case, Parachain ID 1000 in chain spec is the fixed value.
https://github.com/paritytech/cumulus/blob/e695dd905d62fec2e2cb9ba333f56310920cf685/parachain-tem

[2022-10-14 01:16] shunsukew commented on #1765
Implementation of this is missing at this moment.
https://github.com/paritytech/cumulus/issues/385#issuecomment-811735047

[2022-10-14 06:57] KiChjang commented on #1700
Your test case compiles and runs successfully when I execute it locally. My educated guess is that there are build artifacts that need to be cleaned up in your machine, particularly if you're using VSCode, as on first run, it seems to _always_ use the nightly channel to compile your project. If you later on use stable to compile your project again, you may produce weird binaries. The remedy to thi

[2022-10-14 07:16] #1765 closed

[2022-10-14 10:50] KiChjang commented on #1700
Can you show us what the `cause` is? Just the `desc` is not anywhere informative enough.

[2022-10-14 14:29] JuaniRios commented on #1700
@KiChjang  It's getting really tricky to fish out the values. The cause is just a pointer to the another error struct.
I managed to get it out, and the internal error that cause points to says in its desc: "Could not decode Xcm.0".

![Screenshot 2022-10-14 at 16 20 35](https://user-images.githubusercontent.com/54085674/195870337-8ab48ff5-ac45-4851-90a5-6f242bc23a29.png)

the description is being g

[2022-10-17 11:09] shunsukew opened #1769 "BuildSpec subcommand for Parachains"
Substrate CLI has `BuildSpec` subcommand (https://github.com/paritytech/substrate/blob/master/client/cli/src/commands/build_spec_cmd.rs), however, it cannot generate ChainSpec with user-specified Parachain ID.

`BuildSpec` subcommand for Parachain specific cases and allowing users to generate ChainSpec with arbitrary Parachain ID would be good to have, because the more XCM stuff coming, the more d

[2022-10-17 13:05] bkchr commented on #1769
The `--parachain-id` flag will not return to Cumulus. See some justification here: https://github.com/paritytech/cumulus/pull/739

[2022-10-17 17:22] skunert opened #1773 "Allow to specify multiple relay chain nodes for RPC collators"
When a `--relay-chain-rpc-url` is specified via the CLI, we currently connect to exactly one relay chain node. If this node crashes, the collator node crashes too. We should allow to specify multiple relay chain nodes that can be switched in case one of the nodes fails.

[2022-10-18 12:20] EgorPopelyaev opened #1775 "Release Checklist - Client v0.9.300"
# Release Checklist - Client

### Client Release

- [x] build a new `polkadot-parachain` binary and publish it to S3
- [ ] new `polkadot-parachain` version has [run on the network](../../docs/release.md#burnin)
    without issue for at least 12h
- [ ] a draft release has been created in the [Github Releases page](https://github.com/paritytech/cumulus/releases) with the relevant release-notes
- [ ]

[2022-10-18 12:21] EgorPopelyaev opened #1776 "Release Checklist for Runtimes v9300"
# Release Checklist - Runtimes

**All** following checks must be completed before publishing a new release.
The release process is owned and led by @paritytech/release-engineering team.
The checks marked with :crab: are meant to be checked by [a runtime engineer](https://github.com/paritytech/cumulus/issues/1761).

## Runtimes Release

### Codebase
These checks should be performed on the codebase.

[2022-10-19 07:57] chevdor commented on #1776
## shell

[code]

[2022-10-19 08:00] chevdor commented on #1776
## westmint

[code]

[2022-10-19 08:01] chevdor commented on #1776
## seedling

[code]

[2022-10-19 08:02] chevdor commented on #1776
## rococo

[code]

[2022-10-19 08:03] chevdor commented on #1776
## statemine

[code]

[2022-10-19 08:07] chevdor commented on #1776
## statemint

[code]

[2022-10-19 08:08] chevdor commented on #1776
## contract-rococo

[code]

[2022-10-19 08:10] chevdor commented on #1776
## collectives

[code]

[2022-10-19 08:12] chevdor commented on #1776
Summary of the `transaction_version` bump:

- shell: no bump
- seedling: BUMP
- westmint: BUMP
- rococo: BUMP
- statemine: BUMP
- statemint: BUMP
- contracts: BUMP
- collectives: BUMP

[2022-10-19 08:28] chevdor commented on #1776
Checked `spec_version` is `9300` with @EgorPopelyaev

[2022-10-19 08:33] EgorPopelyaev commented on #1775
RC1 binary is ready: https://releases.parity.io/cumulus/v0.9.300-rc1/polkadot-parachain.

[2022-10-19 09:27] EgorPopelyaev commented on #1776
Extrinsic ordering check results from the GHA⬇️

[2022-10-19 09:28] EgorPopelyaev commented on #1776
Metadata comparison:
Date: Wed Oct 19 09:03:37 UTC 2022
Ref. binary: https://releases.parity.io/cumulus/v0.9.290/polkadot-parachain
Test binary: https://releases.parity.io/cumulus/v0.9.300-rc1/polkadot-parachain
Ref. version: polkadot-parachain-ref 0.9.290-4271ac75d34
Test version: polkadot-parachain 0.9.300-7b1fc0ed107
Chain: contracts-rococo-local
Relay: polkadot-local
--------------------------

[2022-10-19 09:28] EgorPopelyaev commented on #1776
Metadata comparison:
Date: Wed Oct 19 09:03:28 UTC 2022
Ref. binary: https://releases.parity.io/cumulus/v0.9.290/polkadot-parachain
Test binary: https://releases.parity.io/cumulus/v0.9.300-rc1/polkadot-parachain
Ref. version: polkadot-parachain-ref 0.9.290-4271ac75d34
Test version: polkadot-parachain 0.9.300-7b1fc0ed107
Chain: statemine-local
Relay: polkadot-local
---------------------------------

[2022-10-19 09:28] EgorPopelyaev commented on #1776
Metadata comparison:
Date: Wed Oct 19 09:03:28 UTC 2022
Ref. binary: https://releases.parity.io/cumulus/v0.9.290/polkadot-parachain
Test binary: https://releases.parity.io/cumulus/v0.9.300-rc1/polkadot-parachain
Ref. version: polkadot-parachain-ref 0.9.290-4271ac75d34
Test version: polkadot-parachain 0.9.300-7b1fc0ed107
Chain: statemint-local
Relay: polkadot-local
---------------------------------

[2022-10-19 09:28] EgorPopelyaev commented on #1776
Metadata comparison:
Date: Wed Oct 19 09:03:29 UTC 2022
Ref. binary: https://releases.parity.io/cumulus/v0.9.290/polkadot-parachain
Test binary: https://releases.parity.io/cumulus/v0.9.300-rc1/polkadot-parachain
Ref. version: polkadot-parachain-ref 0.9.290-4271ac75d34
Test version: polkadot-parachain 0.9.300-7b1fc0ed107
Chain: westmint-local
Relay: polkadot-local
----------------------------------

[2022-10-19 09:42] bkchr commented on #1737
@dmitry-markin could you maybe take a look at this? If you need some support to debug this, @xlc would be happy to help you with this. Aka getting some logs or whatever you need.

[2022-10-19 09:56] dmitry-markin commented on #1737
Is it possible to reproduce the issue in some local toy network? Like having two validators + 1 collator to see why validators reject the collator? Is it only one collator, or some more parachain nodes are needed behind it to reproduce the issue?

[2022-10-19 10:38] bkchr commented on #1737
I think as a starting point you want to have some logs of `sub-libp2py=trace,peerset=trace` from @xlc around when the disconnect happens. This will probably generate tons of logs. If these logs don't reveal anything, we will need to enable the same logs on our validators and then compare both sides on what they think happens.

[2022-10-19 12:35] bkchr commented on #1744
Was this done now with the merged PR?

[2022-10-19 16:19] dmitry-markin commented on #1737
@xlc could you gather logs with `-lsub-libp2p=trace,peerset=trace` around the point where disconnect happens, as @bkchr suggested?

[2022-10-20 08:40] skunert commented on #1744
One more thing to do, I would like to verify that after the fixes pov-recovery test also works properly with rpc collators. Will experiment and after another PR close this issue.

[2022-10-20 09:47] EgorPopelyaev commented on #1776
[PR with weights](https://github.com/paritytech/cumulus/pull/1784)

[2022-10-20 11:16] xlc commented on #1737
[logs.txt.zip](https://github.com/paritytech/cumulus/files/9829199/logs.txt.zip)
here is the logs. I can provide more if needed

[2022-10-20 12:57] chevdor commented on #1776
and the one for the collectves: https://github.com/paritytech/cumulus/pull/1781

[2022-10-23 18:05] dmitry-markin commented on #1737
Dummy question: how do you tell from the logs that the parachain block in question was included into the relaychain?

I don't have much to share, but some observations are: up to block 1139883 the parachain block numbers keep increasing. Starting from block 1139884 everything looks the same, except the parachain keeps producing blocks with the same parent of 1139883 (0xe92...0a0a). So every time a

[2022-10-23 19:53] bkchr commented on #1737
If it would be included, we would not build on the same block over and over again.

This is really bad. This should not happen, especially on these small networks like Rococo. This message indicates that for whatever reason we could not connect to a relay chain validator that is assigned to our parachain. We should check why this happens. Maybe some reputation problem?

[2022-10-24 22:27] xlc commented on #1737
Somehow this is getting more stable as it have been running smoothly without issue for 24h. I will keep an eye on it and provide new logs if it got stuck again.

[2022-10-24 23:14] paradox-tt opened #1802 "No peers found on new installation of statemine"
Hi All,

I'm setting up a second Statemine installation and I can't seem to find any peers either on the relay-chain or parachain.

My CLI flags are
[code]

My logs details are as follows:

[code]

Also note that I have a private interface (wireguard) with ips 10.8.x.x.  It is used to securely transfer metrics to a central grafana server.

[2022-10-25 12:03] bkchr commented on #1802
Can you please give us log output for 2 minutes?

Does this machine only have an ipv6 address?

[2022-10-25 18:06] paradox-tt commented on #1802
Log from the last 2 minutes
`sudo journalctl -u statemine --since "2 minutes ago"`

[code]

The server has IPv4 as well:
[code]

[2022-10-25 19:09] bkchr commented on #1802
@paradox-tt please run with `-lsync=trace`.

[2022-10-25 19:27] paradox-tt commented on #1802
Thanks for that bit of advice, `-lsync=trace` is added.  In looking for the flag I noticed the problem!

[code]
Line 2 is missing the `\` at the end.

[2022-10-25 19:27] #1802 closed

[2022-10-27 02:47] xlc commented on #1737
looks stable now. will reopen if stuck again.

[2022-10-27 02:47] #1737 closed

[2022-10-31 18:45] #1744 closed

[2022-11-02 14:34] muharem commented on #1143
@joepetrowski wonder which origins from Gov v2 we wanna map into AssetsForceOrigin?
The last link in the issue is probably broken

[2022-11-02 14:48] muharem commented on #1143
see your comment
https://github.com/paritytech/cumulus/pull/1316#discussion_r885635629

[2022-11-02 15:55] olanod opened #1810 "Scheduler pallet in Statemine/Statemint"
I guess the scheduler pallet was not included in the runtime because you can schedule an XCM in the relay-chain to be sent to the parachain at a later time? or is it just in the spirit to keep the runtime minimal? Still I think it might be useful to add it in Statemint to not pollute the relay-chain agenda, it doesn't look like a heavy specialized functionality that couldn't be part of the runtime

[2022-11-02 17:28] bkchr commented on #1810
Scheduler on Polkadot/Kusama is only usable by root/council. Scheduling calls should not be doable by everyone, because it could lead to huge problems (like a call being requiring too much weight etc). What you want more sounds like something that assets pallet should support natively.

CC @joepetrowski @jsidorenko

[2022-11-03 11:12] EgorPopelyaev commented on #1775
Release canceled

[2022-11-03 11:12] #1775 closed

[2022-11-03 11:12] EgorPopelyaev commented on #1776
Release canceled

[2022-11-03 11:12] #1776 closed

[2022-11-03 11:50] joepetrowski commented on #1143
- `AssetsForceOrigin`: `Root`
- `CollatorSelectionUpdateOrigin`: `StakingAdmin` (same as [`SlashCancel`](https://github.com/paritytech/polkadot/blob/release-v0.9.31/runtime/kusama/src/lib.rs#L598))
- `ControllerOrigin`: Perhaps use [`WhitelistOrigin`](https://github.com/paritytech/polkadot/blob/release-v0.9.31/runtime/kusama/src/governance/mod.rs#L71), (perhaps `Controller` should be renamed to `X

[2022-11-03 14:42] bkchr commented on #585
Polkadot launch is dead!

[2022-11-03 14:42] #585 closed

[2022-11-03 15:10] samelamin commented on #1619
@skunert Have you started work on this? I would love the chance to contribute if possible 😄

[2022-11-03 15:33] skunert commented on #1619
I have not yet started working on this, feel free to give it a try of you want!

[2022-11-03 16:24] joepetrowski commented on #1810
Not much to add on what @bkchr and @ggwpez have said in the Substrate issue. If there's a secure pallet that allows arbitrary scheduling, then sure it could be added to Statemint, just like Multisig/Proxy/Utility.

I don't see how `scheduler` helps here. As long as you control the privileged origins of the asset class, you can still just offset the scheduled burns with mints.

I'm working on an up

[2022-11-03 17:43] olanod commented on #1810
That's the thing, gave up the owner and issuer by setting them to a non existent account. But ignoring my use case, wouldn't it be already useful to have the scheduler as it exists currently to allow Statemint have its own agenda with events that were programmed by Polkadot's governance and the parachains?

For a bit of context, we are planning to launch as parathread on Polkadot(whenever that bec

[2022-11-03 22:06] samelamin commented on #1619
@bkchr @skunert can you give me some guidance on where to start with this?

looking at how the relay chain does [warp](https://github.com/paritytech/polkadot/blob/master/node/service/src/lib.rs#L906) I am not sure we can replicate the same

But from Basti's comments I am not sure we are meant to replicate it anyways.

So what does an ideal implementation for this ticket look like? A new component

[2022-11-03 22:23] bkchr commented on #1619
The best is that you make yourself familiar with the grandpa warp sync implementation in Substrate. The idea in the end will probably be around making the warp sync implementation generic. Yeah, the best is really to read the code and try to come up with a proposal. We don't have any concrete implementation in our minds.

[2022-11-07 08:43] xlc opened #1814 "cumulus-test-relay-sproof-builder doesn't build for wasm"
`cargo check -p cumulus-test-relay-sproof-builder --no-default-features --target=wasm32-unknown-unknown`

[code]

[2022-11-07 10:11] xlc opened #1815 "duplicated polkadot-parachain causing troubles"
https://github.com/paritytech/polkadot/blob/40aefb4ac396bcd098755c6d57dac7b284a343e7/parachain/Cargo.toml#L2
https://github.com/paritytech/cumulus/blob/ca213eaa4968b63e88ef604849341e12b4e0886c/polkadot-parachain/Cargo.toml#L2

they have same name and causing cargo to be confused when I have path override

[2022-11-07 11:05] bkchr commented on #1814
This crate wasn't build for `no_std`. I see that we have there an `std` feature, but it is misleading. From the Substrate side we don't have any support for recording a proof right now in `no_std`. We could switch to some the "bare" `trie` primitives to achieve this, but it would require some more changes.

[2022-11-07 11:10] bkchr commented on #1815
Duplicate of: https://github.com/paritytech/cumulus/issues/1753

[2022-11-07 11:10] #1815 closed

[2022-11-07 12:06] muharem commented on #1143
I am scoping what needs to be done to make such a mapping from new origins, will post it here later.

[2022-11-07 15:25] EgorPopelyaev opened #1821 "Release Checklist for Client v0.9.310"
# Release Checklist - Client

### Client Release

- [x] build a new `polkadot-parachain` binary and publish it to S3
- [ ] new `polkadot-parachain` version has [run on the network](../../docs/release.md#burnin)
    without issue for at least 12h
- [ ] a draft release has been created in the [Github Releases page](https://github.com/paritytech/cumulus/releases) with the relevant release-notes
- [ ]

[2022-11-07 15:26] EgorPopelyaev opened #1822 "Release Checklist for Runtime v9310"
# Release Checklist - Runtimes

**All** following checks must be completed before publishing a new release.
The release process is owned and led by @paritytech/release-engineering team.
The checks marked with :crab: are meant to be checked by [a runtime engineer](https://github.com/paritytech/cumulus/issues/1761).

## Runtimes Release

### Codebase
These checks should be performed on the codebase.

[2022-11-07 15:35] samelamin commented on #1619
Hey folks I have been looking at the grandpa implementation of warp sync on substrate and on Polkadot and I have a few questions

When Basti says "extract the Parachain header." How do I do that? Is there an example I can reference of how we use it with `StateSync`?

How will it differ compared to the current fast sync?

perhaps @arkpar or @skunert can give me some pointers?

[2022-11-07 18:30] lexnv opened #1826 "Cumulus companions fail to select `zeroize` crate"
Cumulus companion fails to compile. This issue was detected by https://github.com/paritytech/substrate/pull/12497.

### Repro case
[code]

[code]

[2022-11-07 22:48] bkchr commented on #1826
Done

[2022-11-07 22:48] #1826 closed

[2022-11-08 00:55] simonsso opened #1831 "Benchmarks for pallet_collator_selection.register_as_candidate fails with Error: Input("TooManyCandidates") when --steps are changed"
Running benchmarks for the pallet with a value for steps other than 50 will fail:

[code]
expected result: It should generate weights for the pallets.

Reproduce by chaining --steps to for instance 49
[code]

Running with steps 50 works:
[code]

[2022-11-08 07:05] Polkadot-Forum commented on #1159
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/economic-model-for-system-para-collators/1010/1

[2022-11-08 15:43] samelamin commented on #1619
Thank you so much Basti this is great help and gives me a better idea where to start

Iim really keen on contributing and building  because I feel like that's how I can give the most value to the ecosystem rather than just help you design it. Plus it gets me even more familiar with substrate and grandpa which is a good think in my book

I'll try to get a test around it because I think that's the b

[2022-11-09 15:08] EgorPopelyaev commented on #1822
Release canceled

[2022-11-09 15:08] #1822 closed

[2022-11-09 15:08] #1821 closed, assigned to nobody

[2022-11-09 15:09] EgorPopelyaev opened #1843 "Release Checklist for Client v0.9.320"
# Release Checklist - Client

### Client Release

- [x] build a new `polkadot-parachain` binary and publish it to S3
- [x] new `polkadot-parachain` version has [run on the network](../../docs/release.md#burnin)
    without issue for at least 12h
- [x] a draft release has been created in the [Github Releases page](https://github.com/paritytech/cumulus/releases) with the relevant release-notes
- [x]

[2022-11-09 15:10] EgorPopelyaev opened #1844 "Release Checklist for Runtime v9320"
# Release Checklist - Runtimes

**All** following checks must be completed before publishing a new release.
The release process is owned and led by @paritytech/release-engineering team.
The checks marked with :crab: are meant to be checked by [a runtime engineer](https://github.com/paritytech/cumulus/issues/1761).

## Runtimes Release

### Codebase
These checks should be performed on the codebase.

[2022-11-09 16:40] chevdor commented on #1844
## shell

[code]

[2022-11-09 16:42] chevdor commented on #1844
## Collectives

[code]

[2022-11-09 16:44] chevdor commented on #1844
## Rococo

[code]

[2022-11-09 16:45] chevdor commented on #1844
## Seedling

[code]

[2022-11-09 16:47] chevdor commented on #1844
## Statemine

[code]

[2022-11-09 16:48] chevdor commented on #1844
## Westmint

[code]

[2022-11-10 00:27] rafat opened #1849 "Enabling Offchain workers in cumulus/substrate parachain template"
I know the way to enable Offchain workers in a solo chain is to edit the service.rs as per the documentation and it works perfectly. I have tried to make equivalent changes to the service.rs in my parachain but offchain_workers function is never triggered. Can anyone tell me if there is a way to make it happen for a parachain because I can't quite figure out all the configuration changes that need

[2022-11-10 14:00] crystalin opened #1855 "Error importing block after doing a revert"
Using moonbeam v0.27.2 (based on substrate v0.9.29) (see end of message for cli params)

The node was stuck because of `sc_service::client::client: [🌗] Block import error: State Database error: Too many sibling blocks inserted` (happened because of runtime upgrade)
We performed a `moonbeam revert 1 --base-path /var/lib/alphanet-data --chain alphanet` in order to purge the siblings.

This removed t

[2022-11-10 14:03] joepetrowski opened #1856 "Add Additional Instance of Assets Pallet to Statemint"
Add a new instance of the Assets pallet to Statemint. This should be configured such that:

[code]

An example can be found in the [gav-xcm-v3 branch](https://github.com/paritytech/polkadot/blob/gav-xcm-v3/xcm/xcm-simulator/example/src/parachain.rs#L142-L163) of the XCM simulator.

---

This pallet will support assets from other parachains, and in XCM v3, from other consensus systems. For example:

[2022-11-10 16:17] JuaniRios commented on #1700
@KiChjang any updates on this?

[2022-11-10 18:13] SBalaguer commented on #1700
Hey @JuaniRios, other teams have been able to execute multi asset XCM calls with no issues. In particular, Acala is using [this](https://github.com/open-web3-stack/open-runtime-module-library/tree/master/xtokens), and they have not had issues with XCM. Have you looked into that?

[2022-11-10 19:55] bkchr commented on #1849
https://github.com/paritytech/substrate/blob/e7cb51b325c19012cc5c269105c43717093f45b0/bin/node/cli/src/service.rs#L368-L375

Add this code to your project.

[2022-11-10 19:55] #1849 closed

[2022-11-11 07:32] zxshask opened #1862 "Data Migration of Old Parachains"
Our parachain slot is about to expire, if the auction for a new parachain id is successful, how to migrate the data?

[2022-11-12 23:01] rphmeier opened #1866 "Computation of real message bandwidth available in asynchronous backing"
The parachain-system pallet should keep track of the 'unincluded segment' of the parachain. This is all recent blocks which have not been included in a referenced relay-parent.

For each block in the unincluded segment, parachain-system should track:
  * Outgoing UMP message count, size
  * Outgoing HRMP message count, size per recipient
  * Stated HRMP watermark
  * DMP messages processed

We als

[2022-11-12 23:01] rphmeier commented on #1866
Based on this comment I posted elsewhere ^

[2022-11-14 11:24] muharem commented on #1143
Discussed in DM with @joepetrowski
We propose the ControllerOrigin privileges for xcmp queue to be given to Fellows origin from Relay Chain

[2022-11-14 13:56] gilescope commented on #1844
Have run the integration tests and they all pass. Some warnings: https://github.com/paritytech/parachains-integration-tests/issues/80 but possibly just need to update the test runner. Hashes tested:
cumulus: 28bbaa505
polkadot: c71e872a (+ sudo)

[2022-11-14 13:58] gilescope commented on #1844
Weights are fine except asset destroy which was too heavy so we kept prior weights and there's a PR in the wings to fix this in a later release.

[2022-11-14 16:05] EgorPopelyaev commented on #1843
Burn-in requests:

- Westmint - #2096
- Statemine - #2097
- Statemint - #2098

[2022-11-15 11:43] gilescope commented on #1844
Have reviewed the long list of PRs and couldn't see any migrations that would affect statemine/t or collections parachains.

[2022-11-15 15:22] EgorPopelyaev commented on #1844
Runtime upgrade [#2099](https://github.com/paritytech/devops/issues/2099)

[2022-11-15 18:13] gilescope commented on #1844
Compared statemine/statemint and kusama/polkadot xcm configs and there's no surprises in there.

[2022-11-16 06:53] joepetrowski opened #1884 "Allow Sufficient Assets for XCM Fee Payment on Statemint"
Port https://github.com/paritytech/cumulus/pull/1278 to Statemint runtime.

[2022-11-16 16:35] mn13 commented on #432
Equilibrium catch the same `TooManySiblingBlocks` error in moonbase-alphanet.
Nodes restart and revert had no effect. Now we resync nodes to check if this will resolve stucked blocks.

[2022-11-16 19:48] amab8901 commented on #1750
does "Parachain inherent" refer to `/pallets/parachain-system`?

[2022-11-16 20:48] samelamin commented on #1619
Hey guys I have been looking at this in depth over the past week and I have a few questions

I decided to split the work into 2 sections

1. Identify when the relay chain data has finished syncing
2. Extract header of parachin to feed into StateSync

The plan is to get 1 done first

Looking into grandpa, The sync works by defining a Network Provider

https://github.com/paritytech/substrate/blob/ma

[2022-11-17 09:50] #1843 closed

[2022-11-17 09:50] EgorPopelyaev commented on #1843
v0.9.320 is released on 16.11.2022

[2022-11-17 10:38] bkchr commented on #1750
Yes

[2022-11-18 23:50] bkchr commented on #1619
No we don't want this.

We don't need to generate or verify any warp proofs as we already know what the best block is. You need to change the sync code to support this kind of "special" sync mode here. A sync mode that gets a header set and then starts state sync for this header.

[2022-11-20 19:08] samelamin commented on #1619
I get that but cumulus does not contain any sync code, so do you mean to change the substrate sync client?

I would think we would need to change the `WarpSyncProvider`  implementation so it supports this special sync mode?  At the moment this trait has 3 members `generate`, `verify` , `current_authorities` so perhaps this new sync mode needs to be added there, a new member that takes in the heade

[2022-11-20 21:21] bkchr commented on #1619
Yes, but we should probably call it different. Maybe the easiest way is just to have some other kind of "sync implementation". Alongside warp/fast/state.

[2022-11-20 21:31] samelamin commented on #1619
Agreed, Ill just go with `GeneralWarpSyncProvider` for now and then we can rename it later

We can either create a base trait called `GeneralWarpSyncProvider` and then have the `WarpSyncProvider` inherit from it and include the 3 members as well as a new Sync Provider e.g. `ParachainWarpSyncProvider`

Or change `BuildNetworkParams` to accept a new type of sync which could be `WarpSyncProvider` or

[2022-11-20 21:50] bkchr commented on #1619
I don't get what you mean here.

[2022-11-20 21:51] bkchr commented on #1619
I mean in general we could probably write some sort of abstract `WarpSyncProvider` that works for us here and for grandpa. I don't exactly know how the current trait looks like and what would need to be changed. Maybe that is easy enough.

[2022-11-20 22:04] samelamin commented on #1619
I mean have a base trait called `SyncProvider` then have `WarpSyncProvider` inherit from it and include the 3 members it currently has. At the same time, we have a `ParachainWarpSyncProvider` that inherits from `SyncProvider` too
i.e.

`SyncProvider` > `WarpSyncProvider`
`SyncProvider` > `ParachainWarpSyncProvider`

Then the changes we need to implement will be in `BuildNetworkParams` where it wil

[2022-11-21 09:38] arkpar commented on #1619
As far as I understand it will be basically `WarpSync` that skips the first phase, proofs downloading and verification. It just needs to get the target block, which can be passed to the constructor as an optional parameter.
The second issue is that the sync should start once this target block becomes known. This could be handled on the `ChainSync` level, much like it currently waits for 3 peers be

[2022-11-21 09:50] samelamin commented on #1619
What do you mean by this? Which constructor?

I originally thought it should be part of `ChainSync` but based on my understanding of Basti's comments I went down the custom `WarpSyncProvider`. Perhaps I misunderstood?

Should we just be passing in an optional parameter to `BuildNetworkParams` and subsequently `ChainSync`?

[2022-11-21 11:59] arkpar commented on #1619
[WarpSync::new](https://github.com/paritytech/substrate/blob/master/client/network/sync/src/warp.rs#L74)

`WarpSyncProvider` is really intended for providing and verifying warp proofs. To skip all that entirely, I don't really see the need to change it or invent other traits. It just need to be made optional and there needs to be a way to set the target sync block externally. The simplest way I ca

[2022-11-21 12:32] samelamin commented on #1619
I see, thanks @arkpar. So what you are suggesting is amending the constructor, possibly also the Struct to contain the optional header?

https://github.com/paritytech/substrate/blob/master/client/network/sync/src/warp.rs#L61-L66

And in network service, we pass the optional header and if the header has a value and if it does, call `start_warp_sync(header)`

Then the actual syncing is handled in `C

[2022-11-21 13:18] bkchr commented on #1619
@samelamin here: https://github.com/paritytech/substrate/blob/59a74b18df148b9b4b460ba1d0322948f96d04d0/client/service/src/builder.rs#L733-L734

You could change this to some kind of enum:
[code]

This params enum would then be passed to the `WarpSync::new` function. On parachains we would set params to `WaitForTarget`. This channel sender would then be passed to some component that informs sync ab

[2022-11-21 13:27] samelamin commented on #1619
Got it Basti thanks

This is what I am intending to do

1) Change the `warp_sync` to an enum to let `BuildNetworkParams` know this is a different type of sync

2) Pass that enum over the ChainSync

3) Add a `start_warp_sync(header)` function to the network service ( since we will need time to identify the parachain header)

4) On the Cumulus side, Follow the relay chain using `relay_chain_interfac

[2022-11-21 13:53] bkchr commented on #1619
You don't need this. As I explained above, you would pass the channel for sending the header on initialization.

[2022-11-21 13:58] altonen commented on #1619
I just wanted to give heads up that I have one big PR coming hopefully by the end of this week that will move the syncing out of `sc-network` and it will most likely heavily conflict with whatever changes are made here to Substrate's syncing/networking code.

[2022-11-21 19:09] #1844 closed

[2022-11-21 22:40] bkchr commented on #1619
We can also put a function into the sync handle. However, as @altonen already hinted, putting this function into NetworkService is wrong.

[2022-11-21 23:50] samelamin commented on #1619
Quick question on this that occurred to me while in editing WarpSync

Since we are passing this enum, doesn't that mean that we will have to make WarpSyncProvider and the phase optional for the new sync type?

[2022-11-22 09:28] bkchr commented on #1619
@samelamin these are now really implementation details. Please bring up a pr with a good code design. For sure you will need to make the provider optional, but how, there are multiple ways.

[2022-11-22 10:36] arkpar commented on #1619
The simplest solution is to simply move it to the [`Phase::WarpProof`](https://github.com/paritytech/substrate/blob/master/client/network/sync/src/warp.rs#L39) variant, as it is not really used in other phases.

[2022-11-23 10:48] samelamin commented on #1619
Hey guys I submitted a PR to Substrate. How do you normally handle changes in interfaces on Substrate because the dependant CI jobs will always fail until changes are made downstream

I am happy to submit a PR for both Cumulus and Polkadot, but won't we need changes merged into Substrate first?

[2022-11-24 11:35] samelamin commented on #1619
Hello folks

I submitted prs for the first part of this Issue which is passing `warp_sync_params` to include either a `WarpSyncProvier` or a future block

I will now work on the cumulus part to wait on the relay chain to finish syncing and pass the header to the onshot receiver on `warp_sync_params`

[2022-11-24 19:14] Polkadot-Forum commented on #1226
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/statemint-update-roadmap/1200/24

[2022-11-25 16:22] bkontur opened #1915 "Assets - TakeFirstAssetTrader tests improve"
- review all `ExistentialDeposit::get()`
- replace `WeightToFee::weight_to_fee` with `AssetFeeAsExistentialDepositMultiplierFeeCharger::charge_weight_in_fungibles`
- think about "first selection" even if it is not needed https://github.com/paritytech/cumulus/pull/1910#discussion_r1032479542

[2022-11-28 16:04] #1884 closed

[2022-11-29 06:11] swathiR0229 opened #1920 "Thread tokio-runtime-worker error"
while running cumulus :
Thread 'tokio-runtime-worker' panicked at 'SinkImpl::poll_flush called after error.', /home/user/.cargo/registry/src/github.com-1ecc6299db9ec823/quicksink-0.1.2/src/lib.rs:225

[2022-11-29 15:41] #1920 closed

[2022-11-30 11:57] EgorPopelyaev opened #1924 "Release Checklist for Client v0.9.330"
# Release Checklist - Client

### Client Release

- [ ] build a new `polkadot-parachain` binary and publish it to S3
- [ ] new `polkadot-parachain` version has [run on the network](../../docs/release.md#burnin)
    without issue for at least 12h
- [ ] a draft release has been created in the [Github Releases page](https://github.com/paritytech/cumulus/releases) with the relevant release-notes
- [ ]

[2022-11-30 11:58] EgorPopelyaev opened #1925 "Release Checklist for Runtime v9330"
# Release Checklist - Runtimes

**All** following checks must be completed before publishing a new release.
The release process is owned and led by @paritytech/release-engineering team.
The checks marked with :crab: are meant to be checked by [a runtime engineer](https://github.com/paritytech/cumulus/issues/1761).

## Runtimes Release

### Codebase
These checks should be performed on the codebase.